<div class="user_info clearfix">
	<div class="user_left">
		<% if @user.user_image_id? %>
	     <%= image_tag user_image_id.thumb.url %>
	    <% else %>
	     <%= image_tag 'noface.png' %>
	    <% end %>
	</div>
	<div class="user_right">
		<table>
			<tr>
				<td>名前</td>
		        <td><h4><%= @user.name %></h4></td>
	        </tr>
	        <tr>
	        	<td>ひとこと</td>
	        	<td><h4><%= @user.introduce %></h4></td>
	        </tr>
	        <tr><td><%= link_to "投稿した作品をみる", user_post_path(@user.id) %></td>
	        </tr>

	        <% if @user == current_user ||  current_user.admin %>

	        <tr><td><%= link_to "保存した作品をみる", user_favorite_path(@user.id) %></td>
	        </tr>
	        <tr><td><%= link_to "登録情報の確認・編集",  user_information_path(@user.id) %></td>
	        </tr>

	        <% end %>
	    </table>
	</div>
</div>
