<div class="container">
	<div class="row">
		<div class="col-lg-3">
     	<%= render 'layouts/search_form'%>
        </div>
        <div class="col-lg-9">
        <%= render 'user_info'%>
			<div class="user_index">
				<ul class="nav nav-tabs">
	                <li role="presentation"><%= link_to "投稿した作品をみる", user_path(@user.id) %></li>
	                <li role="presentation"><%= link_to "保存した作品をみる", user_favorite_path(@user.id) %></li>
	                <% if current_user = @user.admin? %>
	            <li role="presentation"  class="active"><%= link_to "会員一覧", users_path %></li>
	            <% end %>
                </ul>
				<h4>会員一覧</h4>



			   <table class="table table-hover text-center mt-4" id="table-center">
			        <tr class="bg-light text-dark">
			          <td class="user-name">名前</td>
			          <td>性別</td>
			          <td>年代</td>
			          <td>投稿数</td>
			          <td class="user-intro">ひとこと</td>
			        </tr>
			        <% @users.each do |user| %>
			          <tr>
			            <td class="user-name"><%= link_to user.name, user_path(user.id) %></td>
			            <td><%= user.gender %></td>
			            <td><%= user.age %></td>
			            <td><%= user.posts.count%></td>
			            <td class="user-intro"><%= user.introduce %></td>
			          </tr>
			        <% end %>
			      </table>


		       <div class="pager"><%= paginate @users %></div>
		    </div>
        </div>
    </div>
</div>