<div class="container">
    <p class="notice"><%= notice %></p>
  <h1>お客様情報</h1>
  <table class="table" id="info_table">
    <thead>
    	<tr>
    		<th>登録情報</th>
    		<th>登録内容</th>
    	</tr>
    </thead>
    <tbody>
        <tr>
            <td>名前</td>
            <td><%=@user.name%></td>
        </tr>
        <tr>
            <td>写真</td>
            <td>
              <% if @user.user_image_id? %>
            　　  <%= image_tag @user.user_image_id.thumb.url %>
            　  <% else %>
            　　  <%= image_tag 'noface.png' %>
            　  <% end %>
            </td>
        </tr>
        <tr>
    	    <td>メールアドレス</td>
    	    <td><%=@user.email%></td>
        </tr>
        <tr>
        	<td>性別</td>
        	<td><%=@user.gender%></td>
        </tr>
        <tr>
        	<td>年代</td>
        	<td><%=@user.age%></td>
        </tr>
        <tr>
            <td>ひとこと</td>
            <td><%=@user.introduce%></td>
        </tr>

        </tbody>
  </table>

     <div class="info_btn"><button type="button" class="btn btn-success"><%= link_to"内容を変更する", edit_user_path(@user.id),style:"color:white;"%></button></div>

     <div class="info_btn"><button type="button" class="btn btn-default"><%= link_to"会員登録をやめる", user_path(@user), method: :delete, data: { confirm: "会員登録をやめると投稿作品などは消えてしまいます。本当に削除しますか？" }%></button></div>



</div>