<div class="nested-fields material">
    <%= f.label :material, "材料" %><br>
    <%= f.text_field :material%><br>
    <%= f.label :amount, "必要な量" %><br>
    <%= f.text_field :amount%><br>
    <%= link_to_remove_association "材料欄を削除する", f %><br>
</div>