<div class="nested-fields material">
    <%= f.label :image, "写真を投稿する" %><br>
    <%= f.file_field :recipe_image_id%><br>
    <%= f.label :recipe, "作り方" %><br>
    <%= f.text_field :recipe%><br>
    <%= link_to_remove_association "作り方の項目を削除する", f %><br>
</div>