


<div class="nested-fields recipe">
   <!--  <%#= f.label :image, "写真を投稿する" %><br> -->
   <!--  <%#= button_tag 'browse', onclick: 'browsePicture(this);' %> -->
    <%#= f.hidden_field :image_cache %>
   <!--  <%#= image_tag f.recipe_image_id.url, class: 'preview-field' %><br> -->

  <div class="recipe_cont">

    <%= f.label :recipe, "作り方" %><br>
    <%= f.text_area :recipe, placeholder: "作り方" , class: "recipe_field"%><br>
    <%= f.label :recipe_image_id, "この工程の写真を載せる" %><br>
    <%= f.file_field :recipe_image_id,  class: 'file-field'%><br>

    <%= link_to_remove_association "作り方の項目を削除する", f %><br>
  </div>


</div>
<!--


<div class="nested-fields">
  <%#= button_tag 'browse', onclick: 'browsePicture(this);' %>
  <%#= f.file_field :recipe_image_id, class: 'file-field', style: 'display:none;' %>
  <%#= image_tag f.object.recipe_image_id, class: 'preview-field' %>
  <%#= link_to_remove_association 'Remove', f %>
</div>

<script type="text/javascript" charset="utf-8">
  function browsePicture(button) {
    const file = $(button).siblings('.file-field')[0];
    const preview = $(button)siblings('.preview-field')[0];
    file.addEventListener('change', function () {
      if ( file.files[0] == 0 ) {
        alert('file not selected');
      } else {
        let fr = new FileReader();
        fr.onload = function () {
          preview.src = fr.result;
        }
        fr.readAsDataURL(file.files[0]);
      }
    });
    file.click();
  }
</script>  -->