<div class = "container">

<div class ="introduction">

<h1>はじめに</h1>

<div><%=image_tag 'under_line.png', :class =>"under_line"%></div>


<div><%=image_tag 'elderly_park.jpg', :height =>'300px', :width =>'600px' , :class =>"image_introduce"%></div>



<p class="introduction_text">
福祉toolpadにお越し頂きありがとうございます。<br><br>


福祉toolpadは何らかの障害や怪我により思うように体を動かせなくなってしまった人が<br>
日常生活の動作や趣味を自分自身で行えるように補助する道具(自助具)の作り方の共有サイトです。
<br><br>

体が不自由なった大切な誰かのために何かをしたいと思った時の１つの選択肢として<br>
福祉toolpadの作品で生活が広がる方が増えると嬉しいです。<br><br><br>

</p>


<div class ="usage">

<h3><strong>1 このサイトの使い方</strong></h3><br>

<p class="usage_sub">作品を見るには</p>
<p class="usage_body">作品の一覧をクリックします</p>
<div id="usage-img1"><%=image_tag 'usage1.jpg', :height =>'300px', :width =>'600px'%></div><br><br>
<p class="usage_sub">作品の詳しい作り方を見るには</p>
<p class="usage_body">作品の写真か作品の名前をクリックすると詳しい作り方を見ることができます</p>
<div class="usage-img2"><%=image_tag 'usage2.jpg', :height =>'200px', :width =>'600px'%></div><br><br>
<p class="usage_sub">投稿者のほかの投稿作品を見るには</p>
<p class="usage_body">投稿者の名前をクリックすると投稿者のほかの投稿や保存した作品などを見ることができます</p>
<div class="usage-img3"><%=image_tag 'usage3.png', :height =>'200px', :width =>'600px'%></div><br><br>
<p class="usage_sub">作品を検索するには</p>
<p class="usage_body">作品名や材料、コメント内容、作り方などからキーワードで検索されます</p>
<div class="usage-img4"><%=image_tag 'usage4.png', :height =>'200px', :width =>'400px'%></div><br><br>




<h3><strong>2 会員登録でできること</strong></h3><br>

<span class = "registration">作品の投稿</span><br>
<span class = "registration">マイページへ作品の保存</span><br>
<span class = "registration">作品へのコメント</span><br><br>


ぜひ会員登録をして福祉toolpadをよりお楽しみください。<br><br><br>






<h3><strong>3 注意事項</strong></h3><br>



<h4><strong>作品作成に関して</strong></h4>

人によって同じ疾患や同じ生活場面でも、何ができないか、なぜできないかは全く異なります。<br>
そのため、全く同じ作品が同じ疾患の方にも使えるわけではありません。<br>
作品作成に関して、使用する方の障害の状況や環境に応じて変更する必要があります。<br>
使用する際は使用者の自己責任により使用するかを判断してください。<br><br>


<h4><strong>作品投稿に関して</strong></h4>


出来るだけ写真も添えて分かりやすく書いてください。<br>
針の使用などリスクが伴う箇所があれば注意事項も強調して書くように心掛けてください。<br><br>



<h4><strong>コメントに関して</strong></h4>

投稿された作品を実際に作ってみた感想などを製作者の方に伝えてください。<br>
あくまで作品の使用は作成者、使用者の判断によって行ってください。<br><br><br>




<h3><strong>4 終わりに</strong></h3><br>


このサイトで少しでも生活のはばが広がり人生の可能性が広がる人がいたら、<br>
このサイトで大切な人の笑顔がみれる人がいたらという気持ちでtoolpadは作られています。<br>

投稿やコメントをする際は、投稿やコメントに少しの愛ものせて頂けると嬉しいです。<br>



何か不安なことや不快・不適切だと感じること、気になる点などありましたら、<br>
お気軽にお問い合わせフォームから報告・相談してください。<br>

</div>


</div>
</div>