<div class="container">
  <h1>作品を投稿する</h1>
  <div class="post_cont">
	<%= render 'layouts/error_message', er:@post %>
	<%= form_for(@post) do |f| %>
		<div class="post_up">
			<div class="post_sub">
		 <%= f.label :title, "作品の題名" %><br>
	     <%= f.text_field :title ,class: "title_field" %><br>
	        </div>
	        <div class="post_left">
	        	<div class="post_sub">
	             <%= f.label :post_image_id, "作品の写真"  %><br>

	             <%= f.file_field :post_image_id , id:"main_image" %><br>


					<div class="post_sub">
					  <p><strong>対象となりやすい疾患</strong></p>
					     <%= f.select :disease, Post.diseases.keys.to_a, {multiple: true, class: 'mySelect2'} %><br>
					</div>
					<div class="post_sub">
					  <p><strong>使うときの状況</strong></p>
					     <%= f.select :activity, Post.activities.keys.to_a, {multiple: true, class: 'mySelect2'} %><br>
					</div>
					<br>
	        </div>
	        <div class="post_right">
	        	<div class="post_sub">
	        	 <%= f.label :copy, "作品の説明"%><br>
	        	 <%= f.text_field :copy ,class: "copy_field"%><br>
	        	</div>
	           <div class="materials post_sub">
	           	<div class ="material_detail">
	           		<strong>材料の入力</strong>
	           	</div>
	           	 <%= f.fields_for :materials do |material| %>
	           	 <div class="tr_material clearfix">
	           	  <div class="td_material">
	           	  	<%= material.label :material, "材料" ,class: "material_field"%>
	           	  </div>
	           	  <div class="td_material">
	           	  	<%= material.label :amount, "必要な量" ,class: "material_field"%>
            	  </div>
	           	 <div class="tr_material clearfix">
	           	  <div class="td_material">
	           	  	<%= material.text_field :material, placeholder: " 例) 目玉クリップ",class: "material_field"%>
	           	  </div>
			      <div class="td_material">
			      	<%= material.text_field :amount, placeholder: " 例) 2つ",class: "material_field"%>
			      </div>
			      </div>
            	  <%= render 'material_fields', f: material %>
	           	  <% end %>
	           	</div>
	               <div id="links">
	                   <%= link_to_add_association "材料欄を追加する", f, :materials ,class: "add_btn"%><br>
	               </div>
	           </div>


	        </div>
	    </div>
	    <div class="post_down">
	      <div class="post_sub">
	    	<div class="recipe_detail">
	    		<strong>作り方の入力</strong>
	    	</div>
	    	<div class="recipes clearfix">
	           	 <%= f.fields_for :recipes do |recipe| %>
	           <div class="recipe_cont">
	           	  <%= recipe.label :recipe, "作り方" %><br>
				  <%= recipe.text_area :recipe, placeholder: "作り方" ,class: "recipe_field"%><br>
				  <%= recipe.label :recipe_image_id, "この工程の写真を載せる" %><br>
				  <%= recipe.file_field :recipe_image_id,  class: 'file-field'%><br>
			   </div>
	           	    <%= render 'recipe_fields', f: recipe %>
	           	 <% end %>
	               <div id="links">
	                   <%= link_to_add_association "作り方欄を追加する", f, :recipes ,class: "add_btn"%><br>
	               </div>
	        </div>
	      </div>
	        <div class="tip post_sub">
	        	 <%= f.label :tip, "ポイント・生い立ち・ひとこと" %><br>
	             <%= f.text_field :tip ,class: "tip_field"%><br>
	        </div>
	    </div>
	<%= f.submit "作品を投稿する", class:"btn btn-primary" %>


    <% end %>
</div>
</div>