<div class="container">
  <div class="row">
    <div class="col-lg-3">
	<%= render 'layouts/search_form'%>
    </div>

    <div class="col-lg-9">

	<div class="post">
		<h1 class="post_title_show"><%= @post.title %></h1>
		<div><%=image_tag 'under_line.png', :class =>"under_line"%></div>
		<div class="post_top clearfix">
			<div class="top_left">
				<% if @post.post_image_id? %>
	            　　  <%= image_tag @post.post_image_id.url %>
	            　  <% else %>
	            　　  <%= image_tag 'noimage.png', :size => "200×200" %>
	            　  <% end %>
			</div>
			<div class="top_right">
			　　　<h2 class="copy">
					<%= @post.copy %>
				</h2>
				<div class="maker">
					<p>作品の製作者：
							<%= link_to user_path(@post.user_id) do %>
							   <% if @post.user.name? %>
							      <%= @post.user.name %>
				            	<% else %>
					               名前はまだ未登録です
					            <% end %>
		  			        <% end %>
		  			</p>
				</div>
				<span>適している疾患：<%= @post.disease %></span><br>
				<span>適している活動：<%= @post.activity %></span>
			</div>
			 <div>
    <% if user_signed_in? %>
 	  <% if @post.user == current_user || current_user.admin %>
 	    <%= link_to "この投稿を削除する",  post_path(@post), method: :delete , data: { confirm: "本当に削除しますか？" }, class: "delete-btn"%>
 	  <% elsif @post.favorited_by?(current_user)%>
        <%= link_to "マイページの保存から外す",  post_favorites_path(@post), method: :delete, class: "favorite-btn" %>
      <% else %>
        <%= link_to "投稿をマイページに保存する",  post_favorites_path(@post), method: :post, class: "favorite-btn" %>
      <% end %>
    <% else %>
      <p>投稿を保存するには会員登録が必要です。会員登録は<%= link_to new_user_registration_path do %>こちら<% end %>から</p>
    <% end %>
      </div>
		</div>
		<div class ="post_detail">
		  <div class="post_middle">
			<div class="material mt-4">
				<p class="crosshead">材料</p>
					 <table class="table">
						<thead>
							<tr>
								<th>材料</th>
								<th>必要な量</th>
							</tr>
						</thead>
						<tbody>
						  <% @post.materials.each do |f|%>
							<tr>
								<td><%= f.material %></td>
								<td><%= f.amount %></td>
							</tr>
						<% end %>
						</tbody>
					</table>
			</div>
			<div class="clearfix">
			  <p class="crosshead">作り方</p>
			  <% @post.recipes.each do |f| %>
			   <div class="step">
			   <!-- 	<%#= 1 += 1%> -->
			   <%#= @number %>
				<div class="recipe_image">
					<% if f.recipe_image_id? %>
	            　　  <%= image_tag f.recipe_image_id.thumb150.url %>
	            　  <% end %>
				</div>
				<div class="recipe_text">
					<%= f.recipe %>
				</div>
			   </div>
			  <% end %>
			</div>
		  </div><br>
		  <div class="post_bottom">
			<div class="tip">
				<p class="crosshead">作品のコツ・誕生秘話・ひとことなど</p>
				<%= @post.tip %>
			</div>
		  </div><br>
         <div class="post_others">
    	 <p class="crosshead">みんなの声</p>
    	 <p><%= @post.comments.count %>件のコメント</p>
    	  <div class="comment_boxes clearfix">
	    	<% @post.comments.each do |comment| %>
	    	<div class="comment_box">
	    		<% if comment.comment_image_id? %>
		    	  <%= image_tag comment.comment_image_id.thumb150.url %><br>
		    	<% end %>
		    	 <p class="comment_date"><%= comment.created_at.strftime('%Y/%m/%d')%></p>
		    	 <p class="comment_body"><%= comment.comment %></p>
		    	 <p class="commenter">by <%= link_to user_path (comment.user_id) do %> <%= comment.user.name %><% end %></p>
               <% if user_signed_in? %>
               <% if comment.user_id == current_user.id || current_user.admin %>
		    	 <p class="comment_delete"><%= link_to "コメントを削除する", post_comments_path(@post) , method: :delete , data: { confirm: "本当に削除しますか？" }%></p>
		       <% end %>
		      <% end %>
	    	</div>
	    	<% end %>
           </div>
             <% if user_signed_in? %>
              <%= render 'comment'%>
             <% else %>
              <p>コメントをするには会員登録が必要です。会員登録は<%= link_to new_user_registration_path do %>こちら<% end %>から</p>
             <% end %>
　　　     </div>
　　　　</div>
     </div>
    </div>
  </div>
</div>