
<div class="main-visual clearfix">
	<div class="image"><%=image_tag 'elderly_stick.jpg', :height =>'300px', :width =>'600px'%></div>
	<div class="image"><%=image_tag 'uno.jpg', :height =>'300px', :width =>'250px'%></div>
	<div class="image"><%=image_tag 'shampoo.JPG', :height =>'300px', :width =>'250px'%></div>
</div>


<div class="container">
	<div class="main-box clearfix">
		<div class="top-main disease top_dis">
			<%= render 'layouts/search_disease' %>
		</div>
	    <div class="top-main activity top_act">
			<%= render 'layouts/search_activity' %>
		</div>
	</div>
</div>