<header class= "header-fixed-top">
<div class="container">
   <nav class="nav navbar-nav navbar-left">
       <div class="image"><%= link_to root_path do %>
    <%=image_tag 'Logo2.png'%><% end %></div>
    </nav>
<% if user_signed_in? %>
    <nav>
      <div class="slidemenu">
        <ul class="nav navbar-nav navbar-right">
           <li id="header_item"><%= link_to "マイページ", user_path(current_user.id), class:"glyphicon glyphicon-home home h_text" %></li>
           <li id="header_item"><%= link_to "作品を投稿する", new_post_path,  class:"glyphicon glyphicon-globe globe h_text"  %></li>
           <li id="header_item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"glyphicon glyphicon-log-out logout h_text"  %></li>
      </ul>
      </div>
    </nav>
<% else %>
      <nav>
        <div class="slidemenu">
          <ul class="nav navbar-nav navbar-right">
           <li id="header_item"><%= link_to "新規会員登録",new_user_registration_path, class:"glyphicon glyphicon-edit sign_up h_text" %></li>
           <li id="header_item"><%= link_to "ログイン", new_user_session_path, class:"glyphicon glyphicon-log-in sign_in h_text"  %></li>
         </ul>
      </div>
    </nav>
   <% end %>
   </header>

    <div class="top-nav">
  <ul class="top-list clearfix">
    <li class="top-item"><%= link_to"TOPページ", root_path %></li>
    <li class="top-item"><%= link_to"はじめに", posts_introduction_path %></li>
    <li class="top-item"><%= link_to"自助具とは", posts_selfhelp_path %></li>
    <li class="top-item"><%= link_to"作品の一覧を見る", posts_path %></li>
  </ul>
</div>
</div>