<%= render "layouts/search_disease" %>

<%= render "layouts/search_activity" %>

<p class = "search_sub">キーワードから探す</p>
<div class="form-group">
 <%= search_form_for(@q, url:search_path, method: :get) do |f| %>
  <%# if current_user = @user.admin? %>
     <%#= f.text_field :title_or_tip_or_copy_cont, class: "form-control",placeholder:"キーワード検索" %>
  <%# else %>
          <%= f.text_field :title_cont, class: "form-control",placeholder:"キーワード検索" %>
　<!-- 　<%# end %> -->
<%= f.submit class: "search_submit"%>
<% end %>
 </div>

<%= link_to "お問い合わせはこちらから" , inquiry_path, class: "arrow_btn"%>