<%= render "layouts/search_disease" %>

<%= render "layouts/search_activity" %>

<p class = "search_sub">キーワードから探す</p>
<div class="form-group">
 <%= search_form_for(@q, url:search_path, method: :get) do |f| %>
    <%= f.text_field :title_or_copy_or_tip_or_recipes_recipe_or_comments_comment_or_materials_material_cont_any, class: "form-control",placeholder:"キーワード検索" %>
<%= f.submit class: "search_submit"%>
<% end %>
 </div>

<%= link_to "お問い合わせはこちらから" , inquiry_path, class: "arrow_btn"%>